<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
	<title>aрХивариус</title>
	<link rel="STYLESHEET" type="text/css" href="/stylesheets/style.css">


<script>
    function open_switch(){
	this.open("/maintain/switch_mode", "switch", "toolbar=no,menubar=no,location=no,scrollbars=no,resizable=no,width=400,height=250");
    }
</script>


<map name="service">
<area shape="circle" coords="3,37,30" href="/maintain" />
<area shape="circle" coords="40,0,22" href="javascript:open_switch()" />
</map>


</head>
<body background="">


<table cellpadding=0 cellspacing=0 border=0>
    <tr>
        <td>
            <a href=/browse/best><img src=/images/best.png border=0 title='Лучшее'></a>
        </td>
        <td>
            <img src=/images/spacer.gif width=10>
        </td>
	<td align=left width=100%>
	    <b><%= (session[:mode] == 'maintain' ? 'Служебный режим' : '') %></b>
	</td>
	<td>
	    <b><font face="Century Gothic" size=3><a href=/>арХивариус</a>&nbsp;
	</td>
	<td>
	    &nbsp;<img src="/images/service_icon.png" width="42" height="42" border="0" usemap="#service" title="Службы"></b>&nbsp;</font></b>
	</td>
    </tr>
</table>

<%= @content_for_layout %>

</body>
</html>


