<span class=header>Создание нового архива</span>

<%= start_form_tag({:action => 'create_archive'}, {:name => 'form1'}) %>

<table cellpadding=5 cellspacing=0 border=1>
    <tr>
        <td>Директория:</td>
        <td><input type=text name=directory_id></td>
    </tr>
    <tr>
        <td>Комментарий:</td>
        <td><textarea name=comments rows=3 cols=50></textarea></td>
    </tr>
</table>
<br><input type=submit value='Создать'>


</form>
