<span class=header>Стирание из базы данных</span>

<% if @type == 'dir' %>
    <br><br>
    <span class=header>Директории</span>
    <% @drs.each do |dr| %>
            <br><%= dr.path %>
            <ul><%= @sbs[dr] %></ul>
    <% end %>
<% end %>

<% if @type == 'fil' %>
    <br><br>
    <span class=header>Файлы</span>
    <% @fls.each do |fl| %>
            <br><%= fl.path %>
    <% end %>
<% end %>

<hr>
Все стёрты.

