<span class=header>Помещение в архив #<%= @archive_id %></span>


<br><br>
<span class=header>Директории</span>
<% @drs.each do |dr| %>
        <br><%= dr.path %>
        <ul><%= @sbs[dr] %></ul>
<% end %>

<hr>
Все помещены в архив.

